script(type="text/x-template")#controls
  div
    inputComp(
      v-model="text"
    )
    h1 {{text}}

    hr

    checkboxComp(
      v-model="bool"
    )
    pre {{bool}}

    hr

    customGroup(
      v-model="group"
    )
    pre {{group}}

    hr

    radioComp(
      v-model="oneOf"
    )
    pre {{oneOf}}


script(type="text/x-template")#input
  div
    input(
      type="text" 
      :value="value"
      @input="$emit('keyup', $event.target.value)"
    )

script(type="text/x-template")#checkbox
  div
    input(
      type="checkbox" 
      @change="$emit('change', $event.target.checked)"
      :checked="checked"
    )
    span ДА/НЕТ

script(type="text/x-template")#checkbox-multiple
  div
    label
      input(
        type="checkbox" 
        value="red"
        v-model="test"
        @change="expose"
      )
      span red
      br
    label
      input(
        type="checkbox" 
        value="green"
        v-model="test"
        @change="expose"
      )
      span green
      br
    label
      input(
        type="checkbox" 
        value="blue"
        v-model="test"
        @change="expose"
      )
      span blue
      br

script(type="text/x-template")#radio
  div
    div
      label
        input(
          type="radio" 
          value="visa" 
          name="payment" 
          @change="handleChange"
          :checked="value === 'visa'"
        )
        span Visa
    div
      label
        input(
          type="radio"
          value="master" 
          name="payment" 
          @change="handleChange"
          :checked="value === 'master'"
        )
        span Master
